<div class="forms">
  <form class="form" action="/add" method="post">
    <div class="form-group">
      <label for="add">Agregar Tarea</label>
      <input type="text" id="add" name="add" placeholder="Ingrese la tarea" autofocus required>
    </div>
    <button type="submit" class="btn btn-info">Agregar</button>
  </form>
</div>
