<div class="forms">
  <form action="/delete" method="post">
    <div class="form-group">
      <label for="delete">Eliminar Tarea</label>
      <input type="number" id="delete" name="delete" placeholder="Ingrese el ID" autofocus required>
    </div>
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
</div>
