<div class="forms">
  <form action="/search" method="get">
    <div class="form-group">
      <label for="search">Buscar Tarea</label>
      <input type="number" id="search" name="search" placeholder="Ingrese el ID" autofocus required></input>
    </div>

    <button type="submit" class="btn btn-secondary">Buscar</button>
  </form>
</div>
